<div class="container-fluid my-4">
  <div class="row">
      <div class="col-7">
          <div class="card">
              <div class="card-header bg-secondary">
                  <div class="row">
                      <div class="col-6 text-white">
                          <strong>Employee Portal</strong>
                      </div>
                      <div class="col-6 text-end">
                          <button class="btn btn-warning">Add New</button>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Sr. No.</th>
                              <th>Name</th>
                              <th>Contact No</th>
                              <th>Email</th>

                              <th>Role</th>
                              <th>Gender</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of employeeList; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{item.employeeName}}</td>
                            <td>{{item.contactNo}}</td>
                            <td>{{item.emailId}}</td>
                            <td>{{item.role}}</td>
                            <td>{{item.gender}}</td>
                            <td>
                              <button type="button" class="btn btn-warning btn-sm" (click)="onEdit(item)">Edit</button>
                              <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(item.employeeId)">Delete</button>
                            </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="col-5">
          <div class="card">
              <div class="card-header bg-secondary">
                  <div class="row">
                      <div class="col-6 text-white">
                          <strong>New Employee</strong>
                      </div>
                      <div class="col-6 text-end">
                          <button class="btn btn-primary">Close</button>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <form class="mb-4">
                      <div class="row">
                          <div class="col-md-6">
                              <label for="employeeName" class="form-label">Employee Name</label>
                              <input type="text" name="employeeName" [(ngModel)]="employeeObj.employeeName" class="form-control" id="employeeName" placeholder="Enter employee name">
                          </div>
                          <div class="col-md-6">
                              <label for="contactNo" class="form-label">Contact No</label>
                              <input type="text" class="form-control" name="contactNo" [(ngModel)]="employeeObj.contactNo" id="contactNo" placeholder="Enter contact number">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label for="emailId" class="form-label">Email</label>
                              <input type="email" class="form-control" name="emailId" [(ngModel)]="employeeObj.emailId" id="emailId" placeholder="Enter email">
                          </div>
                          <div class="col-md-6">
                              <label for="deptId" class="form-label">Parent Department</label>
                              <select id="deptId" (change)="onDeptChange()" class="form-select" name="parentDeptId" [(ngModel)]="parentDeptId">
                                  <option selected>Select department</option>
                                  <!-- Department options -->
                                   <option [value]="item.departmentId" *ngFor="let item of parentDepartmentList; let i=index;">{{item.departmentName}}</option>
                              </select>
                          </div>
                          <div class="col-md-6">
                            <label for="deptId" class="form-label">Child Department</label>
                            <select id="deptId" class="form-select" name="deptId" [(ngModel)]="employeeObj.deptId">
                                <option selected>Select department</option>
                                <!-- Department options -->
                                 <option [value]="item.childDeptId" *ngFor="let item of childDepartmentList; let i=index;">{{item.departmentName}}</option>
                            </select>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" name="password" [(ngModel)]="employeeObj.password" id="password" placeholder="Enter password">
                          </div>
                          <div class="col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <select id="gender" class="form-select" name="gender" [(ngModel)]="employeeObj.gender">
                                <option selected>Select gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                      </div>

                      <button type="button" class="btn btn-warning mt-3" (click)="onSaveEmployee()" *ngIf="employeeObj.employeeId==0">Save Employee</button>
                      <button type="button" class="btn btn-success mt-3" (click)="onUpdateEmployee()" *ngIf="employeeObj.employeeId!=0">Update Employee</button>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
